<!DOCTYPE html>
{% extends "teacherDashboard.html" %}

{% block body_block %}
<style>
     #expiredExam{
        background-color:#A2A5B2;

    }
    #expiredExam a, i{
     color:#33364D;
    }
    #expiredExam i{
     color:#33364D;
    }
</style>
<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-12 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
          <div class="card-body p-0">
            <div class="row">
              <!-- <div class="col-lg-6 d-none d-lg-block bg-login-image"></div> -->
              <div class="col-lg-12">
                <div class="p-5">
                  <div class="text-center">
                    <div class="card shadow mb-4">
                          <div class="card-header py-3 text-white py-3" style="background-color:#0455A5;">
                              <h6 class="m-0 font-weight-bold exit">All Results</h6>
                          </div>
                        {% if messages %}
                          {% for message in messages %}
                            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}" role="alert">
                            {{message}}
                            </div>
                          {% endfor %}
                        {% endif %}
                          <div class="card-body">
                              <div class="table-responsive form-popup">
                                  <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                                      <thead>
                                          <tr class="bg-dark text-white">
                                              <th width="2vw;">S.No</th>
                                              <th>User Name</th>
                                              <th>Examination</th>
                                              <th>Total Marks</th>
                                              <th>Grade</th>
                                              <th>Submission Status</th>
                                              <th>View Paper</th>
                                              <th>Visibility</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          {% if get_result %}
                                              {% for g,s in get_result %}
                                                <tr>
                                                  <td>{{forloop.counter}}</td>
                                                  <td>{{g.student_id}} </td>
                                                  <td>{{g.exam_id}} </td>
                                                  <td>{{g.total_marks_obtained}} </td>
                                                  <td>{{g.grade}} </td>
                                                  <td>{{s.exam_status}} </td>
                                                      <td><a href="{% url 'showPaperDetailsTeacher' g.exam_id g.student_id%}">View Paper</a></td>
                                                  {% if g.status == 'Pending' %}
                                                    <td><a href="{% url 'changeResultVisibility' g.id %}"><i class="fas fa-plus text-success">{{g.status}}</i></a></td>
                                                  {% else %}
                                                    <td><a href="{% url 'changeResultVisibilityReverse' g.id %}"><i class="fas fa-plus text-success">{{g.status}}</i></a></td>
                                                  {% endif %}
                                                </tr>
                                              {% endfor %}
                                            {% else %}
                                              <h1>No records yet</h1>
                                          {% endif %}
                                      </tbody>
                                  </table>
                              </div>
                          </div>

                      </div>
                  </div>
                </div>
              </div>
            </div>
          <div class="row">
              <!-- <div class="col-lg-6 d-none d-lg-block bg-login-image"></div> -->
              <div class="col-lg-12">
                <div class="p-5">
                  <div class="text-center">
                    <div class="card shadow mb-4">
                          <div class="card-header py-3 text-white py-3" style="background-color:#0455A5;">
                              <h6 class="m-0 font-weight-bold exit">Attempted Not Submitted</h6>
                          </div>
                          <div class="card-body">
                              <div class="table-responsive form-popup">
                                  <table class="table table-bordered table-striped" width="100%" cellspacing="0">
                                      <thead>
                                          <tr class="bg-dark text-white">
                                              <th width="2vw;">S.No</th>
                                              <th>User Name</th>
                                              <th>Examination</th>
                                              <th>Submission Status</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          {% if not_submitted %}
                                              {% for g,s in not_submitted %}
                                                <tr>
                                                  <td>{{forloop.counter}}</td>
                                                  <td>{{g.student_id}} </td>
                                                  <td>{{g.exam_id}} </td>
                                                  <td>{{s.exam_status}} </td>
                                                </tr>
                                              {% endfor %}
                                          {% endif %}

                                      </tbody>
                                  </table>
                              </div>
                          </div>

                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>
{% endblock %}
