<!-- necesssary to add doctype -->
<!DOCTYPE html>
{% extends "teacherDashboard.html"%}
{% load static %}
{% block body_block %}
<style>
    #examList {
        background-color:#A2A5B2;

    }
    #examList a, i{
     color:#33364D;
    }
    #examList i{
     color:#33364D;
    }
</style>
<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-12 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->

          <div class="row">
            <!-- <div class="col-lg-6 d-none d-lg-block bg-login-image"></div> -->
            <div class="col-lg-12">
              <div class="p-5">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <div class="col-xl-9 mx-auto mb-4 mt-0">
                         <h1 class="mb-9 " style="color:#33364D"><strong><center>Examination Content</center></strong></h1>
                        <hr>
                    </div>
                </div>
                  <form method="POST">
                      {% csrf_token %}
                      {{ formset.management_form }}
                    <div class="form-group" style="margin-top:-5vh;">
                    {% for form in formset.forms %}
                        <div class="card mb-5 bg-light">
                            <div class="card-header text-white py-3" style="background-color:#0455A5;">
                                <h6 class="m-0 font-weight-bold text-white"><center>Question {{forloop.counter}}. </center></h6>
                            </div>
                            <div class="row">
                                <div class="mt-4 col-6 ml-5" >
                                    <label>Total Marks: </label>
                                    {{form.total_marks}}
                                </div>
                                <div class="mt-4 col-5 " >
                                    <label>Answer: </label>
                                    {{form.answer}}
                                </div>
                                <div class="mt-2 col-11 ml-5" >
                                    <label>Question: </label>
                                    {{form.question}}
                                </div>
                                <div class="mt-2 col-11 ml-5" >
                                    <label>Option 1: </label>
                                    {{form.option1}}
                                </div>
                                <div class="mt-2 col-11 ml-5" >
                                    <label>Option 2: </label>
                                    {{form.option2}}
                                </div>
                                <div class="mt-2 col-11 ml-5" >
                                    <label>Option 3: </label>
                                    {{form.option3}}
                                </div>
                                <div class="mt-2 col-11 ml-5 mb-3" >
                                    <label>Option 4: </label>
                                    {{form.option4}}
                                </div>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                    </div>
                    <div class="mt-4" >
                        <input type="submit" name="" value="Add Contents" class="btn text-white" style="background-color:#0455A5">
                    </div>
                  </form>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
<!--    {% for i in "x"|ljust:totalObjectiveQue %}-->
<!--      <h3>Question {{forloop.counter}}</h3>-->
<!--      {{form.as_p}}-->
<!--      <hr>-->
<!--    {% endfor %}-->