<!DOCTYPE html>
{% extends "studentDashboard.html" %}

{% block body_block %}

    <center><h2>Please change your password</h2></center>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}" role="alert">
            {{message}}
            </div>
      {% endfor %}
    {% endif %}
    <form method="POST" style="  margin: auto; width: 50%; border: 3px ridge; padding: 50px;">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <label>New Password </label>
                <input type="password" name="firstPass" class="form-control">
            </div>
            <div class="col">
                <label>Confirm Password </label>
                <input type="password" name="confirmPass" class="form-control">
            </div>
        </div>
        <br>
       <div class="mt-2" >
            <input type="submit" name="" value="Change Password" class="btn text-white" style="background-color:#0455A5">
        </div>
    </form>

{% endblock %}