<!DOCTYPE html>
{% extends "teacherDashboard.html"%}
{% block body_block %}
<style>
    #expiredExam{
        background-color:#A2A5B2;

    }
    #expiredExam a, i{
     color:#33364D;
    }
    #expiredExam i{
     color:#33364D;
    }
</style>
{% csrf_token %}
<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-12 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
          <div class="card-body p-0">
            <div class="row">
              <!-- <div class="col-lg-6 d-none d-lg-block bg-login-image"></div> -->
              <div class="col-lg-12">
                <div class="p-5">
                  <div class="">
                    <div class="card shadow mb-4">
                      <div class="card-header text-white py-3" style="background-color:#0455A5;">
                          <h6 class="m-0 font-weight-bold text-center">All Expired Examinations</h6>
                      </div>
                        <div class="card-body">
                            <div class="table-responsive form-popup">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr class="bg-dark text-white text-center">
                                            <th width="2vw;">S.No</th>
                                            <th>Exam Name</th>
                                            <th>Course</th>
                                            <th>Status</th>
                                            <th>View Results</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if exam_dict %}
                                            {% for e in exam_dict %}
                                              <tr>
                                                <td>{{forloop.counter}}.</td>
                                                <td>{{e.examName}} </td>
                                                <td>{{e.course_code}}</td>
                                                <td>{{e.exam_status}} </td>
                                                <td><a href="{% url 'manageResult' e.examId %}">View Result</a></td>
                                              </tr>
                                            {% endfor %}
                                        {% else %}
                                            <h3>No expired examinations</h3>
                                        {% endif %}
                                    </tbody>
                                </table>
                              </div>
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
